* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    background-color: #1C658C;
    color: #fff;
    padding: 5px;
    text-align: center;
}

.card {
    width: 350px;
    height: 580px;
    padding: 30px 30px 150px;
    display: flex;
    align-items: center;
    margin: 20px;
}

.containerCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerCardRealTime {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.cardImg {
    width: 300px;
    height: 250px;
    border-radius: 5px;
    margin-bottom: 10px;
    object-fit: cover;
}

.containerProducts {
    display: flex;
}

.containerForm {
    width: 300px;
    margin: 30px;
}

.chatContainer {
    margin: 0 auto;
    width: 90%;
    height: 70%;
    background-color: rgb(240, 240, 240);
    overflow-y: auto;
}

.chatInputContainer {
    margin: 0 auto;
}

#chatBox {
    margin: 1% 5%;
    width: 90%;
    height: 10%;
}